openapi: 3.1.0
info:
  title: Amazon CloudFormation Change Sets Stacks API
  description: Amazon CloudFormation is an infrastructure as code service that enables you to model, provision, and manage AWS and third-party resources by treating infrastructure as code. You use templates to define your resources and their dependencies, then deploy them as stacks.
  version: '2010-05-15'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/cloudformation/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://cloudformation.amazonaws.com
  description: Amazon CloudFormation regional endpoint
- url: https://cloudformation.{region}.amazonaws.com
  description: Amazon CloudFormation regional endpoint
  variables:
    region:
      default: us-east-1
      description: The AWS region
security:
- aws_auth: []
tags:
- name: Stacks
  description: Operations for managing CloudFormation stacks
paths:
  /?Action=CreateStack:
    get:
      operationId: CreateStack
      summary: Amazon CloudFormation Create a stack
      description: Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack through the DescribeStacks action.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateStack
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2010-05-15'
      - name: StackName
        in: query
        required: true
        description: The name that is associated with the stack. The name must be unique in the Region in which you are creating the stack.
        schema:
          type: string
      - name: TemplateBody
        in: query
        description: Structure containing the template body.
        schema:
          type: string
      - name: TemplateURL
        in: query
        description: Location of file containing the template body.
        schema:
          type: string
          format: uri
      - name: DisableRollback
        in: query
        description: Set to true to disable rollback of the stack if stack creation failed.
        schema:
          type: boolean
      - name: TimeoutInMinutes
        in: query
        description: The amount of time that can pass before the stack status becomes CREATE_FAILED.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateStackOutput'
        '400':
          description: Client error
        '500':
          description: Server error
      tags:
      - Stacks
  /?Action=DescribeStacks:
    get:
      operationId: DescribeStacks
      summary: Amazon CloudFormation Describe stacks
      description: Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DescribeStacks
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2010-05-15'
      - name: StackName
        in: query
        description: The name or the unique stack ID that is associated with the stack.
        schema:
          type: string
      - name: NextToken
        in: query
        description: A string that identifies the next page of stacks to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DescribeStacksOutput'
        '400':
          description: Client error
        '500':
          description: Server error
      tags:
      - Stacks
  /?Action=UpdateStack:
    get:
      operationId: UpdateStack
      summary: Amazon CloudFormation Update a stack
      description: Updates a stack as specified in the template. After the call completes successfully, the stack update starts.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - UpdateStack
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2010-05-15'
      - name: StackName
        in: query
        required: true
        description: The name or unique stack ID of the stack to update.
        schema:
          type: string
      - name: TemplateBody
        in: query
        description: Structure containing the template body.
        schema:
          type: string
      - name: TemplateURL
        in: query
        description: Location of file containing the template body.
        schema:
          type: string
          format: uri
      - name: UsePreviousTemplate
        in: query
        description: Reuse the existing template that is associated with the stack.
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateStackOutput'
        '400':
          description: Client error
        '500':
          description: Server error
      tags:
      - Stacks
  /?Action=DeleteStack:
    get:
      operationId: DeleteStack
      summary: Amazon CloudFormation Delete a stack
      description: Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the DescribeStacks action if the deletion has been completed successfully.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteStack
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2010-05-15'
      - name: StackName
        in: query
        required: true
        description: The name or the unique stack ID that is associated with the stack.
        schema:
          type: string
      - name: RetainResources
        in: query
        description: For stacks in the DELETE_FAILED state, a list of resource logical IDs that are associated with the resources you want to retain.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Client error
        '500':
          description: Server error
      tags:
      - Stacks
  /?Action=ListStacks:
    get:
      operationId: ListStacks
      summary: Amazon CloudFormation List stacks
      description: Returns the summary information for stacks whose status matches the specified StackStatusFilter.
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - ListStacks
      - name: Version
        in: query
        required: true
        schema:
          type: string
          default: '2010-05-15'
      - name: NextToken
        in: query
        description: A string that identifies the next page of stacks to retrieve.
        schema:
          type: string
      - name: StackStatusFilter
        in: query
        description: Stack status to use as a filter.
        schema:
          type: array
          items:
            type: string
            enum:
            - CREATE_IN_PROGRESS
            - CREATE_FAILED
            - CREATE_COMPLETE
            - ROLLBACK_IN_PROGRESS
            - ROLLBACK_FAILED
            - ROLLBACK_COMPLETE
            - DELETE_IN_PROGRESS
            - DELETE_FAILED
            - DELETE_COMPLETE
            - UPDATE_IN_PROGRESS
            - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
            - UPDATE_COMPLETE
            - UPDATE_FAILED
            - UPDATE_ROLLBACK_IN_PROGRESS
            - UPDATE_ROLLBACK_FAILED
            - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
            - UPDATE_ROLLBACK_COMPLETE
            - REVIEW_IN_PROGRESS
      responses:
        '200':
          description: Successful response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListStacksOutput'
        '400':
          description: Client error
        '500':
          description: Server error
      tags:
      - Stacks
components:
  schemas:
    DescribeStacksOutput:
      type: object
      properties:
        Stacks:
          type: array
          items:
            $ref: '#/components/schemas/Stack'
        NextToken:
          type: string
    StackDriftInformation:
      type: object
      required:
      - StackDriftStatus
      properties:
        StackDriftStatus:
          type: string
          enum:
          - DRIFTED
          - IN_SYNC
          - UNKNOWN
          - NOT_CHECKED
        LastCheckTimestamp:
          type: string
          format: date-time
    Tag:
      type: object
      required:
      - Key
      - Value
      properties:
        Key:
          type: string
        Value:
          type: string
    CreateStackOutput:
      type: object
      properties:
        StackId:
          type: string
          description: Unique identifier of the stack.
    Parameter:
      type: object
      properties:
        ParameterKey:
          type: string
        ParameterValue:
          type: string
        UsePreviousValue:
          type: boolean
        ResolvedValue:
          type: string
    Stack:
      type: object
      required:
      - StackName
      - StackStatus
      - CreationTime
      properties:
        StackId:
          type: string
          description: Unique identifier of the stack.
        StackName:
          type: string
          description: The name associated with the stack.
        ChangeSetId:
          type: string
          description: The unique ID of the change set.
        Description:
          type: string
          description: A user-defined description associated with the stack.
        Parameters:
          type: array
          items:
            $ref: '#/components/schemas/Parameter'
          description: A list of Parameter structures.
        CreationTime:
          type: string
          format: date-time
          description: The time at which the stack was created.
        DeletionTime:
          type: string
          format: date-time
          description: The time the stack was deleted.
        LastUpdatedTime:
          type: string
          format: date-time
          description: The time the stack was last updated.
        RollbackConfiguration:
          $ref: '#/components/schemas/RollbackConfiguration'
        StackStatus:
          type: string
          description: Current status of the stack.
          enum:
          - CREATE_IN_PROGRESS
          - CREATE_FAILED
          - CREATE_COMPLETE
          - ROLLBACK_IN_PROGRESS
          - ROLLBACK_FAILED
          - ROLLBACK_COMPLETE
          - DELETE_IN_PROGRESS
          - DELETE_FAILED
          - DELETE_COMPLETE
          - UPDATE_IN_PROGRESS
          - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
          - UPDATE_COMPLETE
          - UPDATE_FAILED
          - UPDATE_ROLLBACK_IN_PROGRESS
          - UPDATE_ROLLBACK_FAILED
          - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
          - UPDATE_ROLLBACK_COMPLETE
          - REVIEW_IN_PROGRESS
          - IMPORT_IN_PROGRESS
          - IMPORT_COMPLETE
          - IMPORT_ROLLBACK_IN_PROGRESS
          - IMPORT_ROLLBACK_FAILED
          - IMPORT_ROLLBACK_COMPLETE
        StackStatusReason:
          type: string
          description: Success or failure message associated with the stack status.
        DisableRollback:
          type: boolean
          description: Whether rollback on stack creation failures is disabled.
        NotificationARNs:
          type: array
          items:
            type: string
          description: Amazon SNS topic ARNs to which stack related events are published.
        TimeoutInMinutes:
          type: integer
          description: The amount of time within which stack creation should complete.
        Capabilities:
          type: array
          items:
            type: string
            enum:
            - CAPABILITY_IAM
            - CAPABILITY_NAMED_IAM
            - CAPABILITY_AUTO_EXPAND
          description: The capabilities allowed in the stack.
        Outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
          description: A list of output structures.
        RoleARN:
          type: string
          description: The Amazon Resource Name (ARN) of an IAM role.
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: A list of tags associated with the stack.
        EnableTerminationProtection:
          type: boolean
          description: Whether termination protection is enabled for the stack.
        DriftInformation:
          $ref: '#/components/schemas/StackDriftInformation'
    ListStacksOutput:
      type: object
      properties:
        StackSummaries:
          type: array
          items:
            type: object
            properties:
              StackId:
                type: string
              StackName:
                type: string
              StackStatus:
                type: string
              CreationTime:
                type: string
                format: date-time
              DeletionTime:
                type: string
                format: date-time
              LastUpdatedTime:
                type: string
                format: date-time
              TemplateDescription:
                type: string
        NextToken:
          type: string
    UpdateStackOutput:
      type: object
      properties:
        StackId:
          type: string
    RollbackConfiguration:
      type: object
      properties:
        RollbackTriggers:
          type: array
          items:
            type: object
            properties:
              Arn:
                type: string
              Type:
                type: string
        MonitoringTimeInMinutes:
          type: integer
    Output:
      type: object
      properties:
        OutputKey:
          type: string
        OutputValue:
          type: string
        Description:
          type: string
        ExportName:
          type: string
  securitySchemes:
    aws_auth:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
